<a href="https://colab.research.google.com/github/swati512040/AirBnbBookingAnalysis/blob/main/AirBnb_Booking_Analysis_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name - AirBnb Booking Analysis**

##Project Type - EDA
##Contribution - Individual
##Member Name - Swati Kulkarni

# GitHub Link -

# Project summary

###

# Problem Statement-

### **Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much mor**e.
## This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values.

### Explore and analyze the data to discover key understandings (not limited to these) such as :

##**UNDERSTAND THE GIVEN VARIABLES**

**Listing_id :-** This is a unique identifier for each listing in the dataset.

**Listing_name :-** This is the name or title of the listing, as it appears on the Airbnb website.

**Host_id :-** This is a unique identifier for each host in the dataset.

**Host_name :-** This is the name of the host as it appears on the Airbnb website.

**Neighbourhood_group :-** This is a grouping of neighborhoods in New York City, such as Manhattan or Brooklyn.

**Neighbourhood :-** This is the specific neighborhood in which the listing is located.

**Latitude :-** This is the geographic latitude of the listing.

**Longitude :-** This is the geographic longitude of the listing.

**Room_type :-** This is the type of room or property being offered, such as an entire home, private room, shared room.

**Price :-** This is the nightly price for the listing, in US dollars.

**Minimum_nights :-** This is the minimum number of nights that a guest must stay at the listing.

**Total_reviews :-** This is the total number of reviews that the listing has received.

**Reviews_per_month :-** This is the average number of reviews that the listing receives per month.

**Host_listings_count :-** This is the total number of listings that the host has on Airbnb.

**Availability_365 :-** This is the number of days in the next 365 days that the listing is available for booking.

In [1]:
#  importing necessary library for analysing this dataset

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt  # Visualization
import seaborn as sns
%matplotlib inline
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %shell  %store  %sx  %system  %tb  %tensorflow_version  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%bigquery  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%shell  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [2]:
# # Mounting the drive to my notebook
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
file_path = "/content/drive/MyDrive/AirBnb Booking Analysis Capstone Project/Airbnb NYC 2019.csv" #saving data path

In [5]:
df=pd.read_csv(file_path) # reading the data
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [ ]:
df.columns # checking the variables in the data

In [ ]:
df.head() # checking the first 5 rows in the data

In [ ]:
df.tail() # checking the last 5 rows in the data

In [ ]:
df.nunique() # checking the unique values in this airbnb data

In [ ]:
df.describe() # understanding the statistical summary of airbnb data

In [ ]:
df1=df[['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',     # Creating an another data frame where we will consider only necessary variables
       'neighbourhood','room_type', 'price',
       'minimum_nights', 'number_of_reviews','calculated_host_listings_count',
       'availability_365']]

In [ ]:
df1.info() # understanding the summary of null value and data types in the data

In [ ]:
df1.isna().sum() #Checking the null values in the data

In [ ]:
# removing null values with fillna() method
df1['name'].fillna('na',inplace=True)
df1['host_name'].fillna('na',inplace=True)

In [ ]:
df1.isnull().sum() #after replacing null values seeing is there any null values in the data

In [ ]:
df1.describe()

In [ ]:
df1.head()

In [ ]:
corr_matrix=df1.corr()
sns.heatmap(corr_matrix,cmap="coolwarm")
plt.show()

**1.comparing different hosts and locations**

In [ ]:
diff_host_names=df1.groupby(['neighbourhood_group','host_name'])['number_of_reviews'].max().reset_index().sort_values(by='number_of_reviews', ascending=False)

In [ ]:
diff_host_names.value_counts().head(7)

INFERENCE: Here we saw different host has different reviews in their respective location

In [ ]:
# defining figure size
plt.rcParams['figure.figsize']=(15,5)

In [ ]:
ax = diff_host_names.plot.bar(figsize = (10,5),fontsize = 14)
ax.set_title('host_name vs neighbourhood_group',fontsize = 20)

ax.set_xlabel('host_name', fontsize = 15)
ax.set_ylabel('neighbourhood_group', fontsize = 15)

Here in this plot we saw a graph between name of hosting and thier location in accordance with their reviews

## 2.comparing different room type and prices

In [ ]:
room_price=df1.groupby(['room_type'])['price'].max().reset_index().value_counts()

In [ ]:
room_price.head(8)

In [ ]:
room_price.plot(kind='bar',color='green')
plt.title('room type vs prices')
plt.ylabel('price')
plt.xlabel('room_type')

INFERENCE:Here in this sumarry we are understanding how different room type has diffrent price respectively by the help of this bar plot,which gives us a clear view of how price affect the room type

## 3.comparing house vs price ?

In [ ]:
house_list=df1.groupby(['name','host_id'])['price'].max().reset_index()

In [ ]:
house_list=house_list.sort_values(by='price', ascending=False).value_counts().head(5)
house_list

In [ ]:
house_list.plot(kind='pie')
plt.title('housevsprice')
plt.ylabel('price')
plt.xlabel('name')

INFERENCE: In this summary we understand what is the price of different houses by the help of pie plot, which gives us a view that we can choose which house according to price

## 4. plotting who has hosted different room type with respect of minimum nights

In [ ]:
hosting_night=df1.groupby(['name','host_name','room_type'])['minimum_nights'].max().reset_index()

In [ ]:
hosting_night=hosting_night.sort_values(by='minimum_nights').value_counts().head(10)

In [ ]:
hosting_night

In [ ]:
hosting_night.plot(kind='bar',color='blue')
plt.title('host_name vs room_type')
plt.ylabel('room_type')
plt.xlabel('host_name')

INFERENCE: Here we saw different host has different types of room and hosted atleast some nights and this data has been properly understood by this bar plot

**5.comparing room_type vs availaility based on number of reviews**

In [ ]:
check_availability=df1.groupby(['host_id','host_name','room_type','availability_365'])['number_of_reviews'].count().reset_index()

In [ ]:
check_availability=check_availability.sort_values(by='number_of_reviews')
check_availability.head(8)

In [ ]:
check_availability.plot(kind='line')
plt.ylabel('availability_365')
plt.xlabel('room_type')

INFERENCE:In this plot we saw how many rooms available has the host also understand thier reviews by this line plot

**6. Comparing Average house prices for different room types**

In [ ]:
avg_price_room_type = df.groupby(['room_type'])['price'].mean()

In [ ]:
avg_price_room_type.value_counts()

In [ ]:
ax = avg_price_room_type.plot.bar(figsize = (10,5),fontsize = 14)
ax.set_title("room_type vs price data", fontsize = 20)

ax.set_xlabel("room_type", fontsize = 15)
ax.set_ylabel("Average prices ", fontsize = 15)

INFERENCE:In this bar plot we saw which room has average prices that gives us how to book a classic room or any type of room in accordance with prices

**7.comparing price vs number of reviews**

In [ ]:
price_list= df1.groupby(['price'])['number_of_reviews'].max().reset_index()
price_list.value_counts().head(8)

In [ ]:
price_list.plot(kind='bar')
plt.title("price vs number of reviews")
plt.ylabel("number_of_reviews",fontsize=15)
plt.xlabel("price",fontsize=15)

INFERENCE:we saw this box plot which gives us clear understanding about how prices and reviews which shows data of 75%,min,max from this data

##8. Understanding the heatmap relation

In [ ]:
heatmap_airbnb=df1.corr()

In [ ]:
heatmap_airbnb.value_counts()

In [ ]:
plt.figure(figsize=(15,5))
sns.heatmap(heatmap_airbnb)

INFERENCE:Heatmap is the best way to exaplain about this Airbnb data,in this heatmap we understand only numbers plot on x and y axis correspondence with their numbers.It alwaya counts from 0 to -1.

## Conclusion

###1.we saw different host has different reviews in their respective location
###2. how different room type has diffrent price respectively by the help of this bar plot,which gives us a clear view of how price affect the room type
###3.what is the price of different houses by the help of bar plot, which gives us a view that we can choose which house according to price
###4.host has different types of room and hosted atleast some nights and this data has been properly understood by this bar plot
###5. how many rooms available has the host also understand thier reviews by this line plot
###6.Which room has average prices that gives us how to book a classic room or any type of room in accordance with prices
###7.which gives us clear understanding about how prices and reviews which shows data of 75%,min,max from this data
###8.Heatmap is the best way to explain about all the airbnb data.